<div layout="row" layout-align="center center">
  <md-button class="md-icon-button md-primary md-hue-1 ml0"
             aria-label="Remove filter"
             flex="none"
             ng-click="vm.onRemove({controlType: vm.controlType})">
    <md-icon class="material-icons">remove_circle_outline</md-icon>
  </md-button>

  <label flex="25">{{vm.label}}</label>

  <div flex="75" layout="column">

    <md-slider-container layout="row" layout-align="center center">
      <span flex="none" class="slider-label">Min</span>
      <md-slider flex="75" min="0" max="18000" step="10" ng-model="vm.valueMin" ng-change="vm.changed()" aria-label="Min" id="length-min-slider">
      </md-slider>
      <md-input-container flex="25">
        <input type="number" ng-model="vm.valueMin" ng-change="vm.changed()" aria-label="Min" aria-controls="length-min-slider">
      </md-input-container>
    </md-slider-container>

    <md-slider-container layout="row" layout-align="center center">
      <span flex="none" class="slider-label">Max</span>
      <md-slider flex="75" min="{{vm.valueMin}}" max="36000" step="10" ng-model="vm.valueMax" ng-change="vm.changed()" aria-label="Max" id="length-max-slider">
      </md-slider>
      <md-input-container flex="25">
        <input type="number" ng-model="vm.valueMax" ng-change="vm.changed()" aria-label="Max" aria-controls="length-max-slider">
      </md-input-container>
    </md-slider-container>

  </div>

</div>
