@import '../common'

.navbar
  background-color $primaryColor
  padding 1rem
  a
    color $lightTextColor
    text-decoration none;
  .nav-links
    float right;
    li
      display inline;
      float left;
      margin-right 15px;
      a:hover
        color #000;

  .logo
    display inline-block
  .logo
    color $lightTextColor
  .nav-links
    a
      font-size 1.6rem
