@import '../common'

.navbar
  color: #fff;
  background-color $primaryColor
  padding 1rem
  overflow: hidden;
  .login-block
    float: right;
  a
    color $lightTextColor
    text-decoration none;
  .nav-links
    margin: 0;
    padding: 0;
    float: left;
    li
      float left;
      display inline;
      margin-right 15px;
  a, .logged-name
    font-size 1.5rem
  .logged-name
    font-style: italic;
    margin-right: 10px;
