@import '../common'

.navbar
  background-color $primaryColor
  padding 1rem
  a
    color $lightTextColor
    text-decoration none;
  .nav-links
  .logo
    display inline-block
  .logo
    color $lightTextColor
    margin-right 50%
  .nav-links
    a
      font-size 1.6rem
