<md-toolbar class="md-toolbar-slim">
  <div class="md-toolbar-tools">
    <md-menu>
      <md-button class="md-icon-button"
                 aria-label="Left panel"
                 ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>

      <md-menu-content width="4">

        <md-menu-item>
          <md-button ng-click="vm.map.toggleHeatmap()">
            <md-icon class="material-icon">add_location</md-icon>
            Toggle HeatMap
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="vm.map.togglePolygon()">
            <md-icon class="material-icon">timeline</md-icon>
            Toggle Path
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="vm.map.toggleCircle('http://178.79.165.97:1935/vod/mp4:sample.mp4/manifest.mpd')">
            <md-icon class="material-icon">data_usage</md-icon>
            Toggle Circle
          </md-button>
        </md-menu-item>

      </md-menu-content>

    </md-menu>


    <md-button ui-sref="home">Home</md-button>
    <md-button ui-sref="map">Map</md-button>
    <span flex></span>
    <div class="login-block"><user-login></user-login></div>
  </div>
</md-toolbar>
