<md-toolbar class="md-hue-3 md-toolbar-slim">

  <div class="md-toolbar-tools">
    <h2>All playlists</h2>
    <span flex></span>
    <!--<md-button class="md-icon-button"
               aria-label="Playlist play"
               flex="none"
               ng-click=""
               ng-disabled="">
      <md-icon class="material-icons">playlist_play</md-icon>
    </md-button>-->
  </div>
</md-toolbar>

<md-list-item
  md-ink-ripple
  ng-repeat="item in vm.playlist"
  class=""
  ui-sref="auth.map.playlistDetails({playListId: item._id})"
>
  <div class="playlist-symbol">{{ vm.getFirstLetters(item.name) }}</div>
  <p>{{ item.name }} <span class="playlist-count">({{item.count}} videos)</span></p>
</md-list-item>

<md-subheader class="md-primary" ng-if="!vm.playlist.length">
  No playlist items added yet
</md-subheader>
