<div class="video-results">
  <md-toolbar class="md-hue-3 md-toolbar-slim">

    <div class="md-toolbar-tools">
      <h2>List items ({{vm.playList.count()}})</h2>
      <span flex></span>


      <md-button class="md-icon-button"
                 aria-label="Playlist play"
                 flex="none"
                 ng-click=""
                 ng-disabled="!vm.playList.count()">
        <md-icon class="material-icons">playlist_play</md-icon>
      </md-button>

    </div>

  </md-toolbar>

  <div ng-if="vm.playList.count()">
    <div ng-repeat="video in vm.playList.list">
      <span>{{video.name}}</span><br>
    </div>
  </div>

  <md-subheader class="md-primary" ng-if="!vm.playList.count()">
    No playlist items added yet
  </md-subheader>
</div>
