html, body
  position: static !important

.ml0
  margin-left: 0 !important

body
  .md-open-menu-container
    z-index 1001;

.app
  height 100%

  .main-view
    height 100%

  .sidebar-content
    padding: 8px

  .md-toolbar-slim
    font-size: 15px
    min-height: 40px

    .md-toolbar-tools
      font-size: 15px
      height: 40px

  .playing-video
    color: blue;
