<md-toolbar class="md-hue-3 md-toolbar-slim">

  <div class="md-toolbar-tools">
    <md-button class="md-icon-button"
               aria-label="Back to playlist"
               flex="none"
               ui-sref="auth.map.playlist"
               ng-disabled="">
      <md-icon class="material-icons">keyboard_arrow_left</md-icon>
    </md-button>

    <h2>{{vm.currentList.name}}</h2>

    <span flex></span>

    <md-button class="md-icon-button"
               aria-label="Play all"
               flex="none"
               ng-click=""
               ng-disabled="">
      <md-icon class="material-icons">playlist_play</md-icon>
    </md-button>

    <md-menu>
      <md-button class="md-icon-button"
                 aria-label="Do more"
                 flex="none"
                 ng-click="$mdOpenMenu($event);"
                 ng-disabled="">
        <md-icon class="material-icons">more_vert</md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="vm.onEditList({list: vm.currentList})">
            <md-icon class="material-icon">mode_edit</md-icon>
            <span>Rename playlist</span>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="vm.onDeleteList({list: vm.currentList})">
            <md-icon class="material-icon">delete_sweep</md-icon>
            <span>Delete playlist</span>
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

  </div>
</md-toolbar>

<md-list-item
  md-ink-ripple
  ng-repeat="item in vm.items"
  class=""
  ng-click="vm.playlistSrv.playVideo(item._id)"
>
  <p>{{ item.name }}</p>
  <md-button class="md-secondary md-icon-button"
             aria-label="Delete from playlist"
             ng-click="vm.removeItem(item)"
             ng-disabled="">
    <md-icon class="material-icon">delete</md-icon>
  </md-button>
</md-list-item>
