filter-graphic-button
  md-radio-button
    display: inline;

    .md-label
      margin-left: 39px;

    md-icon
      padding: 4px;
      border-radius: 3px;

    .md-container
      display: none;

  md-radio-button.md-checked
    md-icon
      color: #fff;
      background-color: #3f51b5;
