<div layout="row" layout-align="center center">
  <md-button class="md-icon-button md-primary md-hue-1 ml0"
             aria-label="Remove filter"
             flex="none"
             ng-click="vm.removeFilter(vm.controlType)">
    <md-icon class="material-icons">remove_circle_outline</md-icon>
  </md-button>

  <label flex="25">{{vm.label}}</label>

  <md-input-container flex="75">
    <md-radio-group ng-model="vm.value" ng-change="vm.changed()">
      <md-radio-button ng-repeat="opt in vm.options"
                       ng-value="opt.value"
                       title="{{opt.title}}"
                       aria-label="{{opt.title}}">
        <md-icon md-svg-icon="{{opt.icon}}"></md-icon>
      </md-radio-button>
    </md-radio-group>
  </md-input-container>

</div>
