.add-to-playlist-panel
  background-color white;
  font-size: 15px;
  padding 16px 16px 0 16px;

  input[type="search"]
    padding: 5px;
    width: 100%;
    box-sizing: border-box;

  .checkbox-list
    max-height: 300px;
    overflow: auto;
    margin: 0 -16px;
    padding: 10px 16px 10px 16px;

    .md-checkbox-item:hover, .md-checkbox-item:focus
      background-color: rgb(238, 238, 238)

    .md-checkbox-item
      cursor: pointer
      padding: 10px 16px;
      margin: 0 -16px;
      transition: background 0.15s linear;

      md-checkbox
        line-height: 17px;
        margin-bottom: 0;
        width: 100%
