<div class="search-results">
  <h2 class="search-title">Query Results ({{vm.videoSrv.list.length}})</h2>

  <table>
    <thead>
    <tr>
      <td>Date</td>
      <td>Title</td>
      <td>Bookmarks</td>
      <td>Tags</td>
      <td>Sensor ID</td>
      <td>Source</td>
      <td>Length</td>
      <td>Views</td>
      <td></td>
    </tr>
    </thead>

    <tbody>
    <tr data-ng-repeat="video in vm.videoSrv.list" ng-click="vm.setActiveRow($event)">
      <td>13/12/16 13:02:14</td>
      <td>{{video.name}}</td>
      <td>- 00:12, "Protest start" - 04:12 "Police activity"</td>
      <td>Protest, Journalism</td>
      <td>1231QC</td>
      <td>Quadcopter</td>
      <td>00:34:16</td>
      <td>12</td>
      <td class="td-video-panel"><video-panel data-video="video"></video-panel></td>
    </tr>
    </tbody>
  </table>
</div>
