.comment-item
  padding 10px 0;
  font-size 16px;

.center-block
  width 500px;
  margin 50px auto;

.frm-comment
  input, textarea
    width 100%;
    margin 0 0 10px 0;
    padding 10px;
    box-sizing border-box;
    font-size: 16px;
