<navbar></navbar>
<h1>{{ vm.name }}</h1>
<h2>AngularJS + Sails app demonstration</h2>

<div class="center-block">
  <form class="frm-comment" name="frmComment" ng-submit="vm.submit()">
    <md-input-container class="md-block">
      <label>Name</label>
      <md-icon md-svg-src="person" class="name"></md-icon>
      <input ng-model="vm.comment.name">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Comment</label>
      <textarea ng-model="vm.comment.text" md-maxlength="150" rows="4" md-select-on-focus></textarea>
    </md-input-container>
    <md-button ng-show="!vm.isEditing" class="md-raised md-primary" ng-click="vm.submit()">Add comment</md-button>
    <md-button ng-show="vm.isEditing" class="md-raised md-primary" ng-click="vm.submit()">Edit comment</md-button>
  </form>

  <section>
    <div class="comment-item" data-ng-repeat="item in vm.comments.list">
      <md-card>
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-sm card-media" layout layout-align="center center" >
              <md-icon md-svg-icon="person" style="color:grey"></md-icon>
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{ item.name }}</span>
            <span class="md-subhead description">{{ item.text }}</span>
            <span class="md-subhead description">
              <a href="" ng-click="vm.editComment(item)">Edit</a>
              <a href="" ng-click="vm.removeComment(item)">Delete</a>
            </span>
          </md-card-title-text>
        </md-card-title>
      </md-card>

    </div>
  </section>

</div>
