.player-wrap
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;

  video
    width 640px
    height 360px

  .player-btn-close
    position: absolute;
    bottom: 10px;
    left: -40px;

    .md-40
      font-size: 40px;
