.video-results
  .video-title
    text-align center
    margin 0 0 15px
    padding 10px 0

  .video-panel
    display: none;
  table
    thead
      td
        font-weight: bold;
    border-collapse: collapse;
    .td-video-panel
      width: 24px;
    tbody
      td
        padding: 0;
        height: 72px;
      tr.active
        .video-panel
          display: block;
      tr:hover td, tr.active td
        background-color: #e3e0e0;
